<%-include('./partials/header.ejs')%>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 mt-3">
                <div class="row z-depth-3">
                    <div class="col-sm-4 bg-info rounded left">
                        <div class="card-block text-center text-white">
                            <br><br>
                            <i class="fa far fa-user-circle fa-8x mt-5"></i>
                        </div>
                    </div>
                    <div class="col-sm-8 bg-white rounded-right">
                        <h3 class="mt-3 text-center">Information</h3>
                        <hr class="badge-primary mt-0 w-20">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Username</p>
                                <h6 class="text-muted"><%-username%></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Phone No.</p>
                                <h6 class="text-muted"><%-phone%></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Email address</p>
                                <h6 class="text-muted"><%-email%></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include ('./partials/footer.ejs') %>