<%- include ('./partials/header.ejs', {username: username, role: role}) %>
<div class="container">
  <div class="jumbotron">
    <h2> Welcome, <%=username%>.</h2>
    <p class="lead">What would you like today?</p>
    <%- include ('../partials/messages/error_message.ejs') %>
    <%- include ('../partials/messages/success_message.ejs') %>
  </div>
</div>
<%- include ('./partials/footer.ejs') %>