<%- include ('./partials/navbar.ejs') %>
<% const months = ["January", "February", "March","April", "May", "June", "July", "Aug", "September", "October", "November", "December"] %>
<div class="cart">
    <div class="jumbotron my-5 mx-5">
        <div class="container">
            <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Showtime</th>
                        <th scope="col">Tickets</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (transactions.length > 0) { %>
                        <% transactions.forEach( transaction => { %>
                            <tr>
                                <td>
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1">
                                </td>
                                <!-- Format Transaction Date -->
                                <% let transactionDate = months[transaction.Transaction_Date.getMonth()] + " " + transaction.Transaction_Date.getDate() + ", " + transaction.Transaction_Date.getFullYear() %> 
                                <td><%= transactionDate %></td>
                                <th scope="row"><%= transaction.Title %></th>
                                <td><%= transaction.Showtime %></td>
                                <td><%= transaction.Num_Tickets %></td>
                                <td><%= transaction.Status %></td>
                            </tr>
                        <% }) %>
                    <% } else { %>
                            <tr>
                                <th colspan="6"><span class="d-flex justify-content-center">No record to show</span></th>
                            </tr>
                    <% } %>
                </tbody>
            </table>
            </div>
            <div class="row mt-5">
                <div class="row mx-auto mt-5">
                    <button type="submit" class="btn btn-outline-info btn-lg mx-3">Update Cart</button>
                    <button type="submit" class="btn btn-info btn-lg mx-3">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('./partials/footer.ejs') %>