<%- include ('../partials/header.ejs', {username: username, role: role}) %>
<% var movieTitles=titles %>
    <div class="container">
        <div class="jumbotron">
            <!-- Error Message -->
            <%- include ('../../partials/messages/error_message.ejs') %>
            <form role="form" id="movieForm" name="movieForm" class="contact-form row"
                action="/admin/movies/add_movie" method="POST" enctype="multipart/form-data">

                <% var genres = ["Action", "Adventure", "Animation", "Biography", "Comedy", "Crime", "Documentary", "Drama", "Experimental", "Family", "Fantasy", "Historical", "Horror", "Mystery", "Romance", "Satire", "Sci-Fi", "Social", "Thriller", "Urban", "War", "Western"] %>
                
                <div class="form-field col-lg-6 mb-3 pr-4">
                    <label for="movieTitle">Movie Title</label>
                    <input type="text" class="form-control" id="movieTitle" name="movieTitle" maxlength="50"
                        value="<%= typeof movieTitle != 'undefined' ? movieTitle : ''  %>"
                        onchange="setSuccess(event.target)">
                    <small>Error Message</small>
                </div>

                <div class="form-field col-lg-6 mb-3 pr-4">
                    <label for="movieStatus">Status</label>
                    <select class="form-control" id="movieStatus" name="movieStatus">
                        <% if ( typeof movieStatus !='undefined' && movieStatus=='Now Showing' ) {%>
                            <option value="Now Showing" selected>Now Showing</option>
                        <% } else { %>
                            <option value="Now Showing">Now Showing</option>
                        <% } %>

                        <% if ( typeof movieStatus !='undefined' && movieStatus=='Coming Soon' ) {%>
                            <option value="Coming Soon" selected>Coming Soon</option>
                        <% } else { %>
                            <option value="Coming Soon">Coming Soon</option>
                        <% } %>

                        <% if ( typeof movieStatus !='undefined' && movieStatus=='Inactive' ) {%>
                            <option value="Inactive" selected>Inactive</option>
                        <% } else { %>
                            <option value="Inactive">Inactive</option>
                        <% } %>

                    </select>
                    <small>Error Message</small>
                </div>

                <div class="form-field col-lg-6 mb-3 pr-4">
                    <label for="releaseDate">Release Date</label>
                    <input type="date" class="form-control" id="releaseDate" name="releaseDate"
                        value="<%= typeof releaseDate != 'undefined' ? releaseDate : ''  %>"
                        onchange="setSuccess(event.target)">
                    <small>Error Message</small>
                </div>

                <div class="form-field col-lg-6 mb-3 pr-4">
                    <label for="movieGenre">Genre</label><span class="small ml-2" id="errorMessage"></span>
                    <select class="form-control" multiple data-live-search="true" id="movieGenre"
                        name="movieGenre" onchange="genreSuccess()">
                        <% genres.forEach( genre=> { %>
                            <% if ( typeof movieGenre !='undefined' && (movieGenre.includes(genre) || movieGenre==genre) ) {%>
                                <option value="<%= genre %>" selected>
                                    <%= genre %>
                                </option>
                            <% } else { %>
                                <option value="<%= genre %>">
                                    <%= genre %>
                                </option>
                            <% } %>
                        <% }) %>
                    </select>
                </div>

                <div class="form-field col-lg-6 mb-3 pr-4">
                    <label for="movieDescription">Description</label>
                    <textarea class="form-control m-0" id="movieDescription" name="movieDescription"
                        rows="3" maxlength="300"
                        onchange="setSuccess(event.target)"><%= typeof movieDescription != 'undefined' ? movieDescription : ''  %></textarea>
                    <small>Error Message</small>
                </div>

                <div class="form-field col-lg-6 mb-3 pr-4">
                    <label for="movieDuration">Duration</label>
                    <input type="text" class="html-duration-picker" name="movieDuration" id="movieDuration"
                        style="width: 100px;" data-duration-max="24:00:00"
                        data-duration="<%= typeof movieDuration != 'undefined' ? movieDuration : '00:00:00'  %>">
                    <span class="ml-1">HH:MM:SS</span>
                    <br>
                    <small>Error Message</small>
                </div>

                <div class="form-field col-lg-6 mb-3 pr-4">
                    <label for="moviePoster">Movie Poster</label>
                    <input type="file" class="d-block" accept="image/*" name="moviePoster" id="moviePoster"
                        onchange="loadFile(event)">
                    <small>Error Message</small>
                    <br>
                    <img id="image" style="width:200px; height:300px; display: none;"
                        class="img-responsive" />
                </div>

                <div class="form-field col-lg-6 mb-3 pr-4"></div>

                <input type="hidden" value="" id="data" name="data" hidden>

                <div class="row ml-auto mt-4">
                    <a class="btn btn-secondary btn-lg mr-3" href="/admin/movies">Cancel</a>
                    <button type="submit" onclick="return movieValidation()"
                        class="btn btn-primary btn-lg mr-4">Add
                        Movie</button>
                </div>

            </form>
        </div>
    </div>
    <%- include ('../partials/footer.ejs') %>
    <script>
        var titleList = "<%= movieTitles %>";
    </script>
    <script src="/js/admin/add_movie.js"></script>